/* total : 814px */

/* 헤더 */
/* height: 56px */
#interest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.88%;
  padding: 0px 16px;
}
/* 헤더 */

/* 메인 */
/* height: 758px */
#interest-main {
  width: 100%;
  height: 93.12%;
  padding: 0px 16px;
}

/* height: 48px */
#searching-box {
  width: 100%;
  height: 6.33%;
}

/* height: 48px */
#navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.33%;
}

#interest-list-box {
  width: 100%;
  height: 87.34%;
  overflow-y: auto;
  overflow-x: hidden;
}
/* 메인 */
