#home-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 91.15%;
  padding: 8px 16px 26px 16px;
  overflow: hidden;
}

#home-hello {
  width: 100%;
  height: 5.63%;
}
#home-upcoming {
  width: 100%;
  height: 17.58%;
}
#home-large-card-container {
  display: flex;
  width: 100%;
  height: 28.02%;
  justify-content: center;
  gap: 2.04%;
}
#home-category-title {
  width: 100%;
  height: 3.85%;
}
#home-category {
  width: 100%;
  height: 36.4%;
}

#profile-list-box {
  display: flex;
  width: fit-content;
  height: 28px;
  margin-left: auto;
}

#home-footer {
  width: 100%;
  height: 8.85%;
}

#home-footer div {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#margin-1 {
  height: 1.37%;
}
#margin-2 {
  height: 1.65%;
}
#margin-3 {
  height: 5.08%;
}
#margin-4 {
  height: 1.65%;
}
