@media (prefers-color-scheme: light) {
  #calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: grey;
  }

  #calendar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #f3f0ff;
    border-radius: 12px;
    padding: 16px 16px;
  }

  #year {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    height: 12%;
    align-items: center;
    font-weight: 600;
    size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    padding: 8px 0px;
    text-align: center;
  }

  #day-list {
    display: grid;
    width: 100%;
    height: 12%;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25%;
  }

  #day-list > li {
    display: flex;
    justify-content: center;
  }

  #date-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    height: 76%;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25%;
    overflow: hidden;
  }

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .day span {
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  #calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: grey;
  }

  #calendar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #f3f0ff;
    border-radius: 12px;
    padding: 16px 16px;
  }

  #year {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 5fr 1fr;
    height: 12%;
    align-items: center;
    font-weight: 600;
    size: 16px;
    line-height: 24px;
    letter-spacing: 0.5%;
    padding: 8px 0px;
    text-align: center;
  }

  #day-list {
    display: grid;
    width: 100%;
    height: 12%;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25%;
  }

  #day-list > li {
    display: flex;
    justify-content: center;
  }

  #date-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    height: 76%;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25%;
    overflow: hidden;
  }

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .day span {
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
  }
}
