/* total : 814px */
/* 56px */
#vote-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.88%;
  padding: 0px 16px;
}

/* 758px */
#vote-detail-main {
  width: 100%;
  height: 93.12%;
  padding: 0px 16px;
}

/* 40px */
#vote-detail-main-host {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.28%;
  border-bottom: 1px solid #ececec;
}

#vote-detail-main-title {
  width: 100%;
  height: fit-content;
}

#vote-detail-main-content {
  width: 100%;
  height: fit-content;
}

#vote-detail-main-select {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

#vote-detail-main-btn {
  width: 100%;
  height: 48px;
}

.margin-8-758 {
  height: 1.06%;
}
.margin-14-758 {
  height: 1.85%;
}
.margin-32-758 {
  height: 4.22%;
}
.margin-72-758 {
  height: 9.5%;
}
