/* 헤더 */
/* 56px */
#detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7.32%;
  padding: 8px 16px;
}

/* 메인 */
/* 709px */
#detail-main {
  width: 100%;
  height: 92.68%;
  overflow-x: hidden;
  overflow-y: auto;
}

#detail-main::-webkit-scrollbar {
  display: none;
}

/* 메인 - 썸네일 */
#detail-main-thumbnail {
  width: 100%;
  height: 25.39%;
  background-color: Highlight;
}

/* 메인 - 메뉴 */
#detail-main-menu {
  width: 100%;
  height: 6.77%;
  padding: 0px 16px;
  border-bottom: 0.3px solid #dadada;
}

#detail-main-menu-ul {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* 메인 - 내용 */
/* 481px */
#detail-main-content {
  width: 100%;
  padding: 0px 16px;
  padding-bottom: 16px;
}

#short-detail-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 16px;
  gap: 12px;
}

#detail-main-content-crewinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  padding-top: 16px;
}

#short-detail-main-content-crewinfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

#detail-main-content-intro {
  width: 100%;
  height: fit-content;
  border-bottom: 0.3px solid #dddddd;
  margin-top: 26px;
}

/* 282px */
#detail-main-content-schedule {
  width: 100%;
  height: 68.95%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

#detail-main-content-notice {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 16px 18px;
}
.chat-container {
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  clear: both;
}

.message.left {
  max-width: 70%;
  height: auto;
  text-align: left;
  background-color: #e0e0e0;
  float: left; /* 추가 */
}

.message.right {
  max-width: 70%;
  height: auto;
  text-align: right;
  background-color: #a0d8f8;
  float: right; /* 추가 */
}

.message-username {
  color: blue;
}

.message-content {
  margin-bottom: 5px;
}

.message-time {
  font-size: 0.8em;
  color: #555;
}

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  clear: both;
}

.thumbnail.right {
  float: right;
  margin-left: 10px;
}

.thumbnail.left {
  float: left;
  margin-right: 10px;
}

.message-location {
  font-size: 0.8em;
  color: #555;
}
.date-separator {
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}
