#main-absolute-div {
  position: absolute;
  display: flex;
  width: 52px;
  height: 52px;
  top: 2px;
  left: 8px;
}

#main-login-container {
  text-align: center;
  line-height: 56px;
  position: relative;
  width: 343px;
  height: 56px;
  border-radius: 8px;
}
